---
---
$black: #262626;
$blue: #0f5786;
$red: #cd2312;
$white: #fefcfb;
$yellow: #fcbb02;

body {
  background-color: $white;
  color: $black;
  display: flex;
  font-family: system-ui;
  justify-content: flex-end;
  line-height: 1.5;
  max-width: 38rem;
  padding: 1rem;
}

h1, h2 {
  font-weight: 600;
}

img {
  max-width: 100%;
}

a, a:visited {
  color: $blue;
}

.container {
  width: 33rem;
}
