/* Box sizing rules */
*, *::before, *::after { box-sizing: border-box; }

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd { margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"], ol[role="list"] { list-style: none; }

/* Set core root defaults */
html:focus-within { scroll-behavior: smooth; }

/* Set core body defaults */
body { min-height: 100vh; min-height: -webkit-fill-available; text-rendering: optimizeSpeed; line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img, picture { max-width: 100%; display: block; }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select { font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) { html:focus-within { scroll-behavior: auto; } *, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; } }

@font-face { font-family: "Crimson Pro"; font-weight: 400; src: url("assets/fonts/CrimsonPro-Regular.ttf"); }

@font-face { font-family: "Crimson Pro"; font-weight: 400; font-style: italic; src: url("assets/fonts/CrimsonPro-Italic.ttf"); }

@font-face { font-family: "Crimson Pro"; font-weight: 700; src: url("assets/fonts/CrimsonPro-Bold.ttf"); }

@font-face { font-family: "Crimson Pro"; font-weight: 700; font-style: italic; src: url("assets/fonts/CrimsonPro-BoldItalic.ttf"); }

* { font-feature-settings: "liga", "clig", "dlig", "onum"; }

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root { --fluid-min-width: 320; --fluid-max-width: 1140; --fluid-screen: 100vw; --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  ); }

@media screen and (min-width: 1140px) { :root { --fluid-screen: calc(var(--fluid-max-width) * 1px); } }

:root { --f--2-min: 12.50; --f--2-max: 15.36; --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  ); --f--1-min: 15.00; --f--1-max: 19.20; --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  ); --f-0-min: 18.00; --f-0-max: 24.00; --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  ); --f-1-min: 21.60; --f-1-max: 30.00; --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  ); --f-2-min: 25.92; --f-2-max: 37.50; --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  ); --f-3-min: 31.10; --f-3-max: 46.88; --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  ); --f-4-min: 37.32; --f-4-max: 58.59; --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  ); --f-5-min: 44.79; --f-5-max: 73.24; --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  ); }

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6, */
:root { --fc-3xs-min: (var(--fc-s-min) * 0.25); --fc-3xs-max: (var(--fc-s-max) * 0.25); --fc-2xs-min: (var(--fc-s-min) * 0.5); --fc-2xs-max: (var(--fc-s-max) * 0.5); --fc-xs-min: (var(--fc-s-min) * 0.75); --fc-xs-max: (var(--fc-s-max) * 0.75); --fc-s-min: (var(--f-0-min)); --fc-s-max: (var(--f-0-max)); --fc-m-min: (var(--fc-s-min) * 1.5); --fc-m-max: (var(--fc-s-max) * 1.5); --fc-l-min: (var(--fc-s-min) * 2); --fc-l-max: (var(--fc-s-max) * 2); --fc-xl-min: (var(--fc-s-min) * 3); --fc-xl-max: (var(--fc-s-max) * 3); --fc-2xl-min: (var(--fc-s-min) * 4); --fc-2xl-max: (var(--fc-s-max) * 4); --fc-3xl-min: (var(--fc-s-min) * 6); --fc-3xl-max: (var(--fc-s-max) * 6); /* T-shirt sizes */ --space-3xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp)); --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp)); --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp)); --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp)); --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp)); --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp)); --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp)); --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp)); --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp)); }

* { line-height: 1.5; }

body { font-size: var(--step-0); }

a, a:visited { color: var(--color-primary); }

hr { border: none; border-top: 1px solid var(--color-primary); }

h1 { font-size: var(--step-2); }

h2 { font-size: var(--step-1); }

h3 { font-size: var(--step-0); }

small { font-size: var(--step--1); }

.center { margin-left: auto; margin-right: auto; }

.cluster { --space: var(--space-2xs); overflow: hidden; }

.cluster > * { display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center; margin: calc(var(--space) / 2 * -1); }

.cluster > * > * { margin: calc(var(--space) / 2); }

.cover { display: flex; flex-direction: column; min-height: -webkit-fill-available; padding: var(--space-m); }

.cover > * { margin-top: var(--space-m); margin-bottom: var(--space-m); }

.cover > :first-child:not(main) { margin-top: 0; }

.cover > :last-child:not(main) { margin-bottom: 0; }

.cover > main { margin-top: auto; margin-bottom: auto; flex: 1; }

.fill { display: flex; }

.fill > * { flex-grow: 1; }

.stack { --space: var(--space-xs); display: flex; flex-direction: column; justify-content: flex-start; }

.stack > * { margin-top: 0; margin-bottom: 0; }

.stack > * + * { margin-top: var(--space); }

.stack-small > * { --space: var(--space-3xs); }

.c-black { color: #262626; }

.c-blue { color: #0f5786; }

.c-grey { color: #5c5c5c; }

.c-white { color: #fefcfb; }

.bg-black { background-color: #262626; }

.bg-blue { background-color: #0f5786; }

.bg-grey { background-color: #5c5c5c; }

.bg-white { background-color: #fefcfb; }

.p-black { --color-primary: #262626; }

.p-blue { --color-primary: #0f5786; }

.p-grey { --color-primary: #5c5c5c; }

.p-white { --color-primary: #fefcfb; }

.crimson-pro { font-family: "Crimson Pro", "Georgia", "Garamond"; }

.measure-normal { max-width: 56ch; }

.measure-wide { max-width: 102ch; }

.size--2 { font-size: var(--step--2); }

.size--1 { font-size: var(--step--1); }

.size-0 { font-size: var(--step-0); }

.size-1 { font-size: var(--step-1); }

.size-2 { font-size: var(--step-2); }

.size-3 { font-size: var(--step-3); }

.size-4 { font-size: var(--step-4); }

.size-5 { font-size: var(--step-5); }

.horse { background-image: url("assets/imgs/horse.png"); background-position: bottom var(--space-m) right var(--space-m); background-repeat: no-repeat; background-size: calc(min(100vw, 600px) - var(--space-m) * 2); background-attachment: fixed; }

/*# sourceMappingURL=styles.css.map */