---
---
body {
  background-color: #fefefe;
  color: #111;
  display: flex;
  font-family: system-ui;
  justify-content: flex-end;
  line-height: 1.5;
  max-width: 38rem;
  padding: 1rem;
}

h1, h2 {
  font-weight: 600;
}

img {
  max-width: 100%;
}

.container {
  width: 33rem;
}
