<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}emailaddress.horse</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script async defer data-domain="emailaddress.horse" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="{{ site.url }}">emailaddress.horse</a>
      </header>

      {{ content }}
    </div>
  </body>
</html>
