.cover {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  padding: var(--space-m);
}

.cover > * {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.cover > :first-child:not(main) {
  margin-top: 0;
}

.cover > :last-child:not(main) {
  margin-bottom: 0;
}

.cover > main {
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}
