@font-face {
  font-family: "Crimson Pro";
  font-weight: 400;
  src: url("assets/fonts/CrimsonPro-Regular.ttf");
}

@font-face {
  font-family: "Crimson Pro";
  font-weight: 400;
  font-style: italic;
  src: url("assets/fonts/CrimsonPro-Italic.ttf");
}

@font-face {
  font-family: "Crimson Pro";
  font-weight: 700;
  src: url("assets/fonts/CrimsonPro-Bold.ttf");
}

@font-face {
  font-family: "Crimson Pro";
  font-weight: 700;
  font-style: italic;
  src: url("assets/fonts/CrimsonPro-BoldItalic.ttf");
}
