$color-black: #262626;
$color-blue: #0f5786;
$color-red: #cd2312;
$color-white: #fefcfb;
$color-yellow: #fcbb02;

$color-map: (
  black: $color-black,
  blue: $color-blue,
  white: $color-white
);

$font-crimson-pro: "Crimson Pro";

$font-map: (
  crimson-pro: $font-crimson-pro
);

$size-map: (
  -2: var(--step--2),
  -1: var(--step--1),
  0: var(--step-0),
  1: var(--step-1),
  2: var(--step-2),
  3: var(--step-3),
  4: var(--step-4),
  5: var(--step-5)
);

$space-map: (
  3xs: var(--space-3xs),
  2xs: var(--space-2xs),
  xs: var(--space-xs),
  s: var(--space-s),
  m: var(--space-m),
  l: var(--space-l),
  xl: var(--space-xl),
  2xl: var(--space-2xl),
  3xl: var(--space-3xl)
);
